<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Greeting</title>
</head>
<body>
	<div th:if="${greetings != null}">
        <ul>
            <li th:each="greeting : ${greetings}" th:text="${greeting.message}"></li>
        </ul>
    </div>

    <div th:if="${greetingsWithUsers != null}">
        <ul>
            <li th:each="greeting : ${greetingsWithUsers}" th:text="${greeting.name + ' says ' + greeting.message}"></li>
        </ul>
    </div>
</body>
</html>